@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

/*--font-family: 'Sansita Swashed', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*--font-family: 'Roboto', sans-serif;*/

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Sansita Swashed', cursive;
    background-color: rgba(121, 195, 255, .2);
}


/*------------------------------------------------------------header and nav*/

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: #a60000;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    z-index: 10;
}

header .logo {
    color: #fff;
    font-family: 'Sansita Swashed', cursive;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: 100;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

header nav ul li a:hover {
    color: rgb(255, 251, 0);
    text-decoration: none;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    height: 52px;
    padding-top: 12px;
    margin-bottom: 3px;
    background-position: center;
    background-color: #48dd00;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/*--------------------------------------------------------------------footer*/

footer {
    height: 50px;
    background-color: #a60000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.socialnet {
    text-align: center;
    margin-bottom: 100px;
}

.socialnet li {
    display: inline;
}

.socialnet i {
    font-size: 150%;
    margin: 20px;
    color: #fff;
}

.socialnet :hover {
    color: rgb(255, 251, 0);
}


/*----------------------------------------------------------------index Page*/

.names {
    margin-top: 120px;
    margin-bottom: 80px;
    text-align: center;
}

.name1 h2 {
    font-size: 70px;
    text-decoration: underline;
}

.name2 h3 {
    margin-top: 50px;
    font-size: 80px;
    text-decoration: underline;
}

.prize {
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 8%;
    margin-top: 1%;
}

.prize img {
    width: 100%;
    height: 180px;
}


/*------------------------------------------------------------------carousel*/

.carousel {
    position: relative;
    height: 600px;
    width: 90%;
    margin: 51px auto;
}

.carousel__track-container {
    background: lightblue;
    padding: 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 12px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(0, 0, 0, .75);
}

.is-hidden {
    display: none;
}


/*-----------------------------------------------------------------------map*/

.mapTitle {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: "sans-serif", cursive;
    display: inline-block;
    font-weight: 700;
    width: 100%;
}

#map {
    margin-top: 15px;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 300px;
    border: 1px solid black;
}


/*-----------------------------------------------------------------menu Page*/

.menu {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 35px;
    width: 100%;
}

.price p {
    display: inline-block;
    right: -50px;
}

.sectionMenu {
    margin-bottom: 400px;
}

.col-12 {
    margin-bottom: 70px;
}

#menuPhoto {
    display: none;
}

.menuButton {
    background-color: #a60000;
    color: #fafafa;
}

.buttonSize {
    width: 80%;
    height: 300px;
}


/*-------------------------------------------------------------ourstory Page*/

.story {
    margin: 8%;
}

.title {
    margin-bottom: 5%;
    color: #a60000;
    font-size: 55px;
}

.par h1 {
    padding-top: 3%;
}

.par p {
    margin-bottom: 3%;
    font-size: 20px;
    word-spacing: 5px;
    text-align: justify;
}

.storyPhoto img {
    float: right;
    width: 48%;
    height: 380px;
    margin-top: 60px;
    margin-left: 20px;
}

#justifyText {
    text-align: justify;
}


/*--------------------------------------------------------------gallery Page*/

#photo {
    margin-top: 50px;
    margin-bottom: 50px;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
    height: 300px;
}


/*---------------------------------------------------------order online Page*/

.order-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 65px;
    color: black;
    background-color: rgba(235, 235, 235);
    width: 550px;
    padding-left: 10px;
    font-weight: 200;
    border: 1px black dotted;
}

.order-form h2 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background-color: transparent;
    color: black;
    width: 90%;
    height: 25px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 25px;
}

.placeOrder {
    background-color: transparent;
    color: black;
    width: 90%;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.my-button {
    margin: 0 auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    font-weight: 700;
    background-color: #48dd00;
    color: #fafafa;
    display: block;
}

.reset{
    
    margin: 0 auto;
    text-align: center;
    display: block;
    font-weight: 600;
}

div h6 {
    font-size: small;
    text-align: center;
}

@media (max-width: 576px) {
    .xs {
        color: red;
        font-weight: bold;
    }
    /*--------------------------------------------XS------header and toggle-menu*/
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        border-top: 1px solid rgba(0, 0, 0, .2);
    }
    /*------------------------------------------------------------XS--index-Page*/
    .names {
        margin-top: 70px;
    }
    .name1 h2 {
        font-size: 40px;
    }
    .name2 h3 {
        font-size: 30px;
        margin-top: 20px;
    }
    .carousel {
        height: 350px;
        margin-top: 50px;
        width: 100%;
    }
    .carousel__button--left {
        display: none;
    }
    .carousel__button--right {
        display: none;
    }
    .prize {
        width: 20%;
        margin-bottom: 40px;
    }
    .prize img {
        width: 100%;
        height: 70px;
    }
    .mapTitle h1 {
        font-size: 25px;
    }
    #map {
        margin-bottom: 80px;
    }
    /*---------------------------------------------------------XS------menu Page*/
    .menuList p {
        width: 100%;
        font-size: 30px;
    }
    .price img {
        width: 100%;
    }
    /*---------------------------------------------------------XS--ourstory Page*/
    .story {
        margin: 8%;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .storyPhoto img {
        width: 100%;
        height: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    video {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        height: 300px;
    }
    /*----------------------------------------------------------XS--gallery Page*/
    #photo {
        margin-top: 50px;
        margin-bottom: 50px;
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 0px;
    }
    #photo img {
        height: 230px;
    }
    /*-----------------------------------------------------XS--order online Page*/
    #order-form {
        width: 90%;
        height: 100%;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width:768px) {
    .sm {
        color: red;
        font-weight: bold;
    }
    /*--------------------------------------------SM------header and toggle-menu*/
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        border-top: 1px solid rgba(0, 0, 0, .2);
    }
    /*------------------------------------------------------------SM--index-Page*/
    .names {
        margin-top: 70px;
    }
    .name1 h2 {
        font-size: 40px;
    }
    .name2 h3 {
        font-size: 30px;
        margin-top: 20px;
    }
    .carousel {
        height: 360px;
        margin-top: 50px;
        margin-bottom: 60px;
        width: 88%;
    }
    .prize {
        width: 20%;
        margin-bottom: 40px;
    }
    .prize img {
        width: 100%;
        height: 70px;
    }
    #map {
        margin-bottom: 80px;
    }
    /*---------------------------------------------------------SM------menu Page*/
    .menuList p {
        width: 100%;
        font-size: 32px;
    }
    .price img {
        width: 100%;
    }
    /*---------------------------------------------------------SM--ourstory Page*/
    .story {
        margin: 8%;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .storyPhoto img {
        height: 350px;
        margin-top: 130px;
    }
    .par h1 {
        font-size: 32px;
    }
    video {
        width: 90%;
        margin-left: 30px;
        margin-top: 20px;
        height: 300px;
    }
    /*----------------------------------------------------------SM--gallery Page*/
    #photo {
        margin-top: 50px;
        margin-bottom: 50px;
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0px;
    }
    #photo img {
        height: 200px;
    }
}


/*-----------------------------------------------------SM--order online Page*/

.order-form {
    width: 550px;
    height: 100%;
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) and (max-width:991px) {
    .md {
        color: red;
        font-weight: bold;
    }
    /*--------------------------------------------MD------header and toggle-menu*/
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        border-top: 1px solid rgba(0, 0, 0, .2);
    }
    /*------------------------------------------------------------MD--index-Page*/
    .names {
        margin-top: 70px;
    }
    .name1 h2 {
        font-size: 40px;
    }
    .name2 h3 {
        font-size: 30px;
        margin-top: 20px;
    }
    .carousel {
        height: 380px;
        margin-top: 50px;
        margin-bottom: 80px;
        width: 90%;
    }
    .prize {
        width: 20%;
        margin-bottom: 60px;
    }
    .prize img {
        width: 100%;
        height: 130px;
    }
    #map {
        margin-bottom: 80px;
    }
    /*---------------------------------------------------------MD------menu Page*/
    .menuList p {
        width: 100%;
    }
    .price img {
        width: 100%;
    }
    /*---------------------------------------------------------MD--ourstory Page*/
    .story {
        margin: 8%;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .storyPhoto img {
        height: 420px;
        width: 50%;
        margin-top: 80px;
    }
    video {
        width: 70%;
        margin-left: 100px;
        margin-top: 20px;
        height: 300px;
    }
    /*----------------------------------------------------------MD--gallery Page*/
    #photo {
        margin-top: 50px;
        margin-bottom: 50px;
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0px;
    }
    #photo img {
        height: 230px;
    }
    /*-----------------------------------------------------MD--order online Page*/
    .order-form {
        width: 550px;
        height: 100%;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width:1200px) {
    .lg {
        color: red;
        font-weight: bold;
    }
    /*-------------------------------------------------------------LG--index Page*/
    .carousel {
        width: 90%;
        height: 340px;
    }
    /*----------------------------------------------------------LG--ourstory Page*/
    .storyPhoto img {
        height: 500px;
        width: 54%;
        margin-top: 100px;
    }
    video {
        width: 60%;
        margin-left: 180px;
        margin-top: 20px;
        height: 300px;
    }
    /*-----------------------------------------------------------LG--gallery Page*/
    .mediumScreen {
        display: none;
    }
    /*-----------------------------------------------------LG--order online Page*/
    .order-form {
        width: 550px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .xl {
        color: red;
        font-weight: bold;
    }
    /*----------------------------------------------------------LG--ourstory Page*/
    .storyPhoto img {
        margin-top: 98px;
    }
    video {
        margin-left: 220px;
    }
    /*-----------------------------------------------------------LG--gallery Page*/
    .mediumScreen {
        display: none;
    }
    /*-----------------------------------------------------LG--order online Page*/
    .order-form {
        width: 580px;
    }
    .menu {
        margin-left: 100px;
    }
}